* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-red:hsl(356, 100%, 66%);
  --vary-light-red: hsl(355, 100%, 74%);
  --maintrans:.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Overpass', sans-serif;
}



.header {
  padding: 30px 0;
}

.container {
  padding: 0 30px;
  margin: 0 auto;
}

.container::after {
  content: "";
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(to left,hsl(13, 100%, 72%),hsl(356, 100%, 66%)) ;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 100px;
  z-index: -1;
}

@media (min-width:867px) {
  .container {
    width: 750px;
  }
}
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 60px;
}

.menu-bar {
  display: none;
}

.links {
  flex: 1;
  margin-left: 20px;
}

.links ul li {
  list-style: none;
  margin-left: 20px;
  display: inline-block;
}

.links ul li:hover a {
  text-decoration: underline;
}

.links ul li a {
  text-decoration: none;
  color: #ddd;
}

.drop-menu {
  position: relative;
  display: none;
}

.drop-menu ul{
  display: block;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: white;
  padding: 20px 20px 0 0;
  border-radius: 5px;
}

.drop-menu ul li {
  display: block;
  padding-bottom:20px;
  transition: var(--maintrans);
}

.drop-menu ul li a {
  color: #777;
}


.drop-menu ul li:hover a {
  color: black;
}

li label img {
  cursor: pointer;
  padding-left: 4px;
}

#chk-li-1 ,
#chk-li-2 ,
#chk-li-3 {
  display: none;
}

#chk-li-1:checked ~.drop-menu,
#chk-li-2:checked ~.drop-menu,
#chk-li-3:checked ~.drop-menu {
  display: block;
}

.btn {
  border: none;
  border-radius: 20px;
  padding: .5rem 1rem;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 12px;
  transition: .5s;
  border: 2px solid white ;
}

.btn.login {
  background-color: transparent;
  color: white;
}

.btn.login:hover {
  background-color: white;
  color: var(--light-red);
}

.btn.sign-up {
  color: var(--light-red);
  background-color: white;
}

.btn.sign-up:hover {
  background-color: var(--vary-light-red);
  color: white;
}

#chk-menu {
  display: none;
}

@media (max-width:767px) {
  .menu-bar {
    display: block;
  }

  .links  {
    display: none;
    height: 80vh;
    background-color: #fff;
    width: calc(100% - 60px);
    padding: 20px;
    position: absolute;
    top: 70px;
    left: 10px;
    border-radius: 10px;

  }
  
  .links ul li {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  .links ul li a {
    color: #000;
  }

  .sign {
    display: none;
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-47%);
  }

  .sign button {
    display: block;
  }

  
  #chk-menu:checked ~ .links  {
    display: block;
  }
  #chk-menu:checked ~ .sign  {
    display: block;
  }

  .btn.login {
    color: #000;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .btn.sign-up {
    background-color: var(--light-red);
    color: white;
  }

  .drop-menu {
    position: relative;
  }

  .drop-menu ul {
    background-color: #eee;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-60%);
    z-index: 2000;
    background-color: #eee;
  }
  
}

.landing {
  text-align: center;
  padding-top: 200px;
  height:calc(100vh - 93px);
}

.landing h1 {
  color: white;
  text-transform: capitalize;
}
.landing p {
  font-size: 14px;
  padding: 20px 0 ;
  color: #ddd;
}
.landing .btn.outline  {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.landing .btn.outline:hover {
  background: white;
  color: var(--light-red);
}


.design {
  margin: 50px 0;
}

.design h2 {
  text-align: center;
  padding-bottom: 50px;
  text-transform: capitalize;
}

.design .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.design .container .design-text {
  flex-basis: 50%;
}

.design .container .design-text div {
  margin-bottom: 30px;
}

.design .container .design-text .intro {
  text-transform: capitalize;
}
.design .container .design-text .intro h3 {
  padding-bottom: 20px;
}
.design .container .design-text .intro p{
  font-size: 14px;
  color: #777;
}

.design .container .desgin-image {
  flex-basis: 50%;
}

.design .container .desgin-image img {
  width: 100%;
}

@media (max-width:767px) {
  .design .container {
    flex-direction: column;
  }
  .design .container .desgin-image {
    order: -1;
    padding-bottom: 30px;
  }
  .design .container .design-text {
    text-align: center;
  }
}

.state {
  background-image: linear-gradient( hsl(237, 17%, 21%) ,hsl(237, 23%, 32%));
  width: 100%;
  border-radius: 0 50px 0 50px;
}

.state .container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
}

.state-image {
  flex-basis: 40%;
  transform: translate(-30px, -50px);
}

.state-image img {
  width: 100%;
}

.state-text {
  flex-basis: 60%;
  color: white;
  padding: 40px 0;
}

.state-text h2 {
  text-transform: capitalize;
  padding-bottom: 20px;
}
.state-text p {
  font-size: 14px;
}

@media (max-width:767px) {
  .state .container {
    flex-direction: column;
    text-align: center;
  }
  .state-text {
    margin-top: -20px;
  }
}

.tools {
  width: 100%;
  margin: 50px 0;
}

.tools .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tools .container .tools-image {
  flex-basis: 50%;
}

.tools .container .tools-image img {
  width: 100%;
}

.tools .container .tools-text {
  flex-basis: 50%;
}

.tools .container .tools-text div {
  margin-bottom: 30px;
}

.tools .container .tools-text .one {
  text-transform: capitalize;
}
.tools .container .tools-text .one h3 {
  padding-bottom: 20px;
}
.tools .container .tools-text .one p{
  font-size: 14px;
  color: #777;
}

@media (max-width:767px) {
  .tools .container {
    flex-direction: column;
  }
  .tools .container .tools-image {
    order: -1;
    padding-bottom: 30px;
  }
  .tools .container .tools-text {
    text-align: center;
  }
}

.footer {
  width: 100%;
  background-color: hsl(240, 10%, 16%);
  color: white;
  padding: 50px 0;
  border-top-right-radius: 50px;
}

.footer .logo {
  padding-top: 10px;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(25%,1fr));
}

.footer ul li {
  list-style: none;
  padding: 10px 0;
}

.footer ul li a {
  color:white;
  text-decoration: none;
  text-transform: capitalize;
}

.footer ol li a {
  color: #777;
  font-size: 12px;
  transition: .3s;
}

.footer ol li:hover a {
  color: white;
}